<!-- Extend base.html file -->
{% extends "orders/base.html" %}

<!-- Title -->
{% block title %}
Home
{% endblock %}

<!-- Body -->
{% block main %}
{% if messages %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        {% for message in messages %}
        <div class="alert alert-warning {% if message.tags %}alert-{{ message.tags }}{% endif %} popup" role="alert">
            {{ message }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-6">

        <!-- Pizzas -->
        <div class="jumbotron menu">
            <h2 style="text-align: center;">Pizza</h2>
            <label
                style="font-size: 15px; -webkit-text-fill-color: orangered; text-align: center; display: block;">Special
                Pizza's
                toppings:<br>{{ special }}</label>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Small</th>
                    <th>Large</th>
                </thead>
                <tbody>
                    {% for item in menu_pizzas %}
                    <tr>
                        <td class="td1">{{ item.name }}</td>
                        <td>
                            ${{ item.small }}
                            <button type="button" class="btn btn-sm btn-link"
                                onclick="add_item('{{ item.name }}', '{{ item.small }}', 'Small');">
                                <img src="../../static/orders/images/cart.png" class="cart" title="Add Item">
                            </button>
                        </td>
                        <td>
                            ${{ item.large }}
                            <button type="button" class="btn btn-sm btn-link"
                                onclick="add_item('{{ item.name }}', '{{ item.large }}', 'Large');">
                                <img src="../../static/orders/images/cart.png" class="cart" title="Add Item">
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- The Modal for adding items -->
        <div class="modal fade" id="add_items_modal">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="{% url 'add_item' %}" method="POST">
                            {% csrf_token %}
                            <div id="contents"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Salads -->
        <div class="jumbotron menu">
            <h2 style="text-align: center;">Salad</h2>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% for item in menu_salads %}
                    <tr>
                        <td class="td1">{{ item.name }}</td>
                        <td>
                            {{ item.price }}
                            <button type="button" class="btn btn-sm btn-link"
                                onclick="add_item('{{ item.name }}', '{{ item.price }}', '');">
                                <img src="../../static/orders/images/cart.png" class="cart" title="Add Item">
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pasta -->
        <div class="jumbotron menu">
            <h2 style="text-align: center;">Pasta</h2>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% for item in menu_pastas %}
                    <tr>
                        <td class="td1">{{ item.name }}</td>
                        <td>
                            {{ item.price }}
                            <button type="button" class="btn btn-sm btn-link"
                                onclick="add_item('{{ item.name }}', '{{ item.price }}', '');">
                                <img src="../../static/orders/images/cart.png" class="cart" title="Add Item">
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-lg-6">

        <!-- Dinner Platters -->
        <div class="jumbotron menu">
            <h2 style="text-align: center;">Dinner Platters</h2>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Small</th>
                    <th>Large</th>
                </thead>
                <tbody>
                    {% for item in menu_dinner_platters %}
                    <tr>
                        <td class="td1">{{ item.name }}</td>
                        <td>
                            ${{ item.small }}
                            <button type="button" class="btn btn-sm btn-link"
                                onclick="add_item('{{ item.name }}', '{{ item.small }}', 'Small');">
                                <img src="../../static/orders/images/cart.png" class="cart" title="Add Item">
                            </button>
                        </td>
                        <td>
                            ${{ item.large }}
                            <button type="button" class="btn btn-sm btn-link"
                                onclick="add_item('{{ item.name }}', '{{ item.large }}', 'Large');">
                                <img src="../../static/orders/images/cart.png" class="cart" title="Add Item">
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Subs -->
        <div class="jumbotron menu">
            <h2 style="text-align: center;">Subs</h2>
            <table class="table table-striped">
                <thead class="thead-primary">
                    <th>Name</th>
                    <th>Small</th>
                    <th>Large</th>
                </thead>
                <tbody>
                    {% for item in menu_subs %}
                    <tr>
                        <td class="td1">{{ item.name }}</td>
                        <td>
                            {% if item.name != "Sausage, Peppers & Onions" %}
                            {{ item.small }}
                            <button type="button" class="btn btn-sm btn-link"
                                onclick="add_sub('{{ item.name }}', '{{ item.small }}', 'Small');">
                                <img src="../../static/orders/images/cart.png" class="cart" title="Add Item">
                            </button>
                            {% endif %}
                        </td>
                        <td>
                            {{ item.large }}
                            <button type="button" class="btn btn-sm btn-link"
                                onclick="add_sub('{{ item.name }}', '{{ item.large }}', 'Large');">
                                <img src="../../static/orders/images/cart.png" class="cart" title="Add Item">
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}